@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');


body{
    font-family: "Montserrat";
    margin: 0 auto;
    width: 1280px;
}

.header-item {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    list-style: none;
    width: 620px;
    margin: 32px auto;
    padding: 0;
}

.header-list a{
    text-decoration: none;
    margin: 36px;
    color: #FF0000;
}

.header-last-list a{
    text-decoration: none;
    margin: 14px;
    color: #FF0000;
}

.main-text{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 48px 253px 38px;
    color: #373737;
}

.additional-text, p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 28px 67.5px;
    color: #373737;
}
.main-button{
    border: none;
    font-weight: 700px;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    margin: 38px 544.5px 42px;
    padding: 0;
    color: #FFFFFF;
    cursor:pointer;

}

.footer-text{
    margin: 40px 158px 29px 660px;
    width: 462px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;

}